<html>
<script src="https://unpkg.com/htmx.org@2.0.1"></script>
<style type="text/css">
    /*  make it to "loading" state, using hx-indicator */
    #result.hx-indicator {
        background-color: yellow;
    }
</style>

<!-- let's have subsequent assertions, one after another -->


<div>
    <h1>Thread of verified statements</h1>
    <!-- send to /verify endpoint  -->
    <form id="AssertionForm" hx-post="/verify" method="post" hx-swap="beforebegin" hx-target="#AssertionForm" hx-indicator="#result">
        <input type="text" name="assertion">
        <input type="submit" value="Submit assertion">
    </form>
    <form id="AssumptionForm" hx-post="/assume" method="post" hx-swap="beforebegin" hx-target="#AssertionForm" hx-indicator="#result">
        <input type="text" name="assumption">
        <input type="submit" value="Submit assumption">
    </form>

</div>

</html>
